module.exports = {
  host: 'csc.uwaterloo.ca',
  cookieSecret: 'lalalalala',
  port: 54322,
  redis: {
    host: 'localhost',
    port: 6379 // Must match the one in redis/redis.conf !!! TODO: read it from there instead
  }
};
