module.exports = {
  host: 'csc.uwaterloo.ca',
  cookieSecret: 'lalalalala',
  port: 54322,
  dataDB: 1,
  sessionDB: 2,
  redis: {
    host: 'localhost',
    port: 6379
  },
  go: {
    socketio: {
      sessionDB: 3,
      logLevel: 3,
    },
    port: 54323
  },
};
