<script src="/js/go/game.js"></script>
<script src="{{{ socketHost }}}/socket.io/socket.io.js"></script>

<script>
var server = server || {}
server.socketHost = '{{{ socketHost }}}';
server.game = {{{ game }}}
</script>

<link rel="stylesheet" href="/css/go/game.css">

<ul class="inline full">
  <li><button class="btn btn-white" type="button" id="whiteBtn"></button></li>
  <li>vs.</li>
  <li><button class="btn btn-black" type="button" id="blackBtn"></button></li>
</ul>

<canvas class="goBoard" width="960" height="960" id="board">Canvas not supported</canvas>
