<script src="/js/go/engine.js"></script>
<script src="/js/go/go.ui.js"></script>
<script src="/js/go/go.js"></script>
<script src="{{{ socketHost }}}/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="/css/go/game.css">

<script>
var globals = globals || {}
globals._go_socketHost = '{{{ socketHost }}}';
globals._go_game = {{{ game }}}
</script>

<ul class="inline full">
  <li><button class="btn btn-white" type="button" id="whiteBtn"></button></li>
  <li>vs.</li>
  <li><button class="btn btn-black" type="button" id="blackBtn"></button></li>
</ul>

<canvas class="goBoard" width="960" height="960" id="board">Canvas not supported</canvas>
